name: Update Dependencies

permissions:
  contents: write

on:
  workflow_call:
    inputs:
      commit_message:
        type: string
  workflow_dispatch:

jobs:
  cargo-update:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v5

      - run: git pull

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - run: cargo update

      - name: Commit and Push
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "[${{ inputs.commit_message || 'Manual run' }}]: Update Dependencies"

