name: Monthly Releases

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_and_release:
    uses: ./.github/workflows/build_and_release.yaml
    with:
      release_type: patch
      publish: true
    secrets: inherit
